<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="icon" href="/images/favicon-light.ico" id="favicon">
  <script src="/favicon.js" defer></script>
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <!-- Include jQuery -->
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>

  <!-- DataTables CSS -->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css" />

  <!-- FixedHeader CSS -->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/fixedheader/3.2.1/css/fixedHeader.dataTables.min.css" />

  <!-- DataTables -->
  <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>

  <!-- FixedHeader JS -->
  <script src="https://cdn.datatables.net/fixedheader/3.2.1/js/dataTables.fixedHeader.min.js"></script>

  <!-- Buttons -->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.7.1/css/buttons.dataTables.min.css" />
  <script src="https://cdn.datatables.net/buttons/1.7.1/js/dataTables.buttons.min.js"></script>

  <!-- JSZip (for Excel export) -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>

  <!-- Buttons extensions -->
  <script src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.html5.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.print.min.js"></script>
  <title>Mouse SNP Wizard</title>
</head>
<header>
  <button onclick="window.location.href='/'">Home</button>
  <h1>Mouse SNP Wizard</h1>
  <br>
</header>


<body>
  <div class="container">
    <div id="loading-image">
      <!-- The image will be inserted here by JavaScript -->
    </div>

    <script>
      // Get the current month
      var currentMonth = new Date().getMonth();

      // Set the source and alt text of the image based on the current month
      var imageSourceWebP, imageSourceGif, altText;
      if (currentMonth === 5) { // June is month 5 in JavaScript (0-indexed)
        imageSourceWebP = "/images/rainbow-loading.webp";
        imageSourceGif = "/images/rainbow-loading.gif";
        altText = "Rainbow Loading...";
      } else {
        imageSourceWebP = "/images/default-loading.webp";
        imageSourceGif = "/images/default-loading.gif";
        altText = "Default Loading...";
      }

      // Create the picture element
      var picture = document.createElement("picture");

      // Create the source element for .webp
      var sourceWebP = document.createElement("source");
      sourceWebP.srcset = imageSourceWebP;
      sourceWebP.type = "image/webp";
      sourceWebP.className = "loading-image"
      picture.appendChild(sourceWebP);

      // Create the source element for .gif
      var sourceGif = document.createElement("source");
      sourceGif.srcset = imageSourceGif;
      sourceGif.type = "image/gif";
      sourceGif.className = "loading-image"
      picture.appendChild(sourceGif);

      // Create the fallback image element
      var img = document.createElement("img");
      img.src = imageSourceGif;
      img.alt = altText;
      img.className = "loading-image"
      picture.appendChild(img);

      // Insert the picture into the div
      document.getElementById("loading-image").appendChild(picture);
    </script>
    <div class="error">
      <h1>ERROR</h1>
      <p>There was an error with your search.<br>Please try again.</p>
    </div>

    <div class="overlay"></div>
    <div>
      <% if(searchBy == 'symbol') { %>
      <div><strong>Search By:</strong> <%= searchBy %></div>
      <div><strong>Symbol:</strong> <%= symbol %></div>
      <% } else if(searchBy == 'position') { %>
      <div><strong>Search By:</strong> <%= searchBy %></div>
      <div><strong>Chromosome:</strong> <%= chromosome %></div>
      <div><strong>Start Position:</strong> <%= start.toLocaleString() %></div>
      <div><strong>End Position:</strong> <%= end.toLocaleString() %></div>
      <% } else if(searchBy == 'all') { %>
      <div><strong>Searching Entire Genome</strong></div>
      <% } %>
      <div><strong>High Confidence:</strong> <%= highConfidence %></div>
      <div><strong>Consequence:</strong> <span id="consequenceDisplay"></span></div>
      <div><strong>Strain:</strong> <span id="strainDisplay"></span></div>
      <span><strong>Total Entries: </strong><span id="totalEntries"></span></span>
    </div>
    <button id="loadMoreBtn" style="display: none;">Load More</button>
    <button id="loadAllBtn" style="display: none;">Load All</button>
    <br>

    <br>
    <table id="myTable">
      <tbody>
        <!-- Data should be added here -->
      </tbody>
    </table>

  </div>


  <input type="hidden" id="symbol" name="symbol" value="<%= symbol %>">
  <input type="hidden" id="chromosome" name="chromosome" value="<%= chromosome %>">
  <input type="hidden" id="start" name="start" value="<%= start %>">
  <input type="hidden" id="end" name="end" value="<%= end %>">
  <input type="hidden" id="consequence" name="consequence" value="<%= consequence %>">
  <input type="hidden" id="strains" name="strains" value="<%= strains %>">
  <input type="hidden" id="highConfidence" name="highConfidence" value="<%= highConfidence %>">
  <input type="hidden" id="consequenceNames" name="consequenceNames" value="<%= consequenceNames %>">
</body>
<script src="/search.js"></script>

</html>